matplotlib==3.6.2
numpy==1.23.0
pandas==1.5.1
scikit-learn==1.1.2
tensorflow==2.8
keras==2.8
streamlit==1.2.0
pydub==0.25.1
presets==0.1.3
librosa==0.8.1
bing_image_downloader==1.1.1
tqdm==4.60.0
ffmpeg-python
ffmpeg
ffprobe
protobuf==3.20.*
